*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html{
  overflow: hidden;
  height: 100%;
}

img{
  border-radius: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

i{
  color: grey;
}


.container-pagina{
  background: rgb(205,209,199);
  background: linear-gradient(0deg, rgba(205,209,199,1) 80%, rgba(0,184,129,1) 80%);
  height: 100vh;
  display: flex;
  justify-content: center;
}
/* DEBUG:  */

.container-whatsapp{
  background: white;
  width: 80vw;
  height: 90vh;
  margin: auto;
  display: flex;
}

/* SEZIONE SINISTRA **************************/
.sezione-sx{
  background-color: lightblue;
  width: 538px;
  height: 100%;
}

/* ///////////////////////////////////////// */

.area-personale{
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 84px;
}

.logo-personale img{
  border-radius: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.icone-area-personale {
  display: flex;
}

.icone-area-personale > *{
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
}

/* ///////////////////////////////////////// */

.notifiche{
  background: #8EDAFC;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}

.notifiche > *{
  margin: 10px;
}

.campanello{
  color: ;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}

.testo-notifiche a{
  color: grey;
}

/* ///////////////////////////////////////// */

.barra-ricerca{
  display: flex;
  background-color: #FAFAFA;
  width: 100%;
  height: 40px;
}

.barra-ricerca .box-lente{
  margin: auto;
}

.barra-ricerca .box-ricerca-contatti{
  margin: auto;
  width: 88%;
}

.barra-ricerca .box-ricerca-contatti input{
  width: 90%;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
  outline: none;
}

/* /////////////////////////////////////////// */

.lista-contatti{
  background-color: darkgrey;
  width: 100%;
  height: calc(100% - 205px);
  overflow-y: scroll;
}

.contatto{
  background-color: white;
  height: 80px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
}

.active{
  background-color: lightgrey;
}

.avatar{
  max-width: 60px;
}



/* SEZIONE DESTRA **************************/

.sezione-dx{
  background: url("img/sfondino.jpg");
  background-size: cover;
  width: 998px;
  height: 100%;
  position: relative;
}

.info-conversatore{
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 84px;
}

.info-conversatore-selezionato{
  width: 100%;
  display: flex;
  align-items: center;
}

.opzioni-conversazione{
  display: flex;
}

.opzioni-conversazione i{
  padding-right: 30px;
  color: grey;
}

/* ///////////////////////////////////////////////// */

.finestra-messaggi{
  width: 100%;
  height: 80%;
  display: none;
  overflow-y: scroll;
}

.selected{
  display: block;
}

.mex-ricevuto{
  padding: 10px 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.mex-ricevuto p{
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.mex-inviato{
  padding: 10px 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.mex-inviato p{
  background: #D5F9BA;
  padding: 20px;
  border-radius: 15px;
}

.mutendina{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 60px;
  border-radius: 30px;
  text-align: center;
}

/* Barra di invio *******************************/

.barra-invio-mex{
  display: flex;
  text-align: center;
  background-color: brown;
  width: 100%;
  height: 84px;
  position: absolute;
  bottom: 0;
  background: #EAEAEA;
}

.barra-invio-mex *{
  margin: auto;
  color: grey;
}

.emoticon{
  width: 5%;
  color: grey;
}

.barra-scrittura{
  width: 90%;
}

.barra-scrittura input{
  width: 100%;
  border: none;
  border-radius: 15px;
  height: 50px;
  outline: none;
  padding: 0px 10px 0px 10px;
}

.tasto-invio{
  width: 5%;
}

#arrow{
  display: none;
}
