*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container-pagina{
  background: rgb(205,209,199);
  background: linear-gradient(0deg, rgba(205,209,199,1) 80%, rgba(0,184,129,1) 80%);
  height: 100vh;
  display: flex;
  justify-content: center;
}
/* DEBUG:  */

.container-whatsapp{
  background: white;
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
}

/* SEZIONE SINISTRA **************************/
.sezione-sx{
  background-color: lightblue;
  width: 35%;
  height: 100%;
}

.area-personale{
  background-color: blue;
  width: 100%;
  height: 10%;
}

.notifiche{
  background-color: green;
  width: 100%;
  height: 10%;
}

.barra-ricerca{
  background-color: pink;
  width: 100%;
  height: 5%;
}

.lista-contatti{
  background-color: darkgrey;
  width: 100%;
  height: 75%;
}

/* SEZIONE DESTRA **************************/

.sezione-dx{
  background-color: lightgreen;
  width: 65%;
  height: 100%;
}

.info-conversatore{
  background-color: blue;
  width: 100%;
  height: 10%;
}

.finestra-messaggi{
  background: url("img/sfondino.jpg");
  width: 100%;
  height: 80%;
}

.mex-ricevuto{
  padding: 25px;
  display: flex;
  justify-content: flex-start;
}

.mex-ricevuto p{
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.mex-inviato{
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}

.mex-inviato p{
  background: #D5F9BA;
  padding: 20px;
  border-radius: 15px;
}

.barra-invio-mex{
  background-color: brown;
  width: 100%;
  height: 10%;
}
